<div class="container mt-5">
    <div class="row">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Start Date</th>
            <th scope="d-none d-sm-block">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-primary" *ngFor="let item of employees$ | async">
            <th scope="row"> {{ item.name}} {{ item.lastName }}</th>
            <td>{{ item.email}}</td>
            <td>{{ item.startDate }}</td>
            <td class="btn-group d-done d-sm-block" role="group">
              <button type="button" class="btn btn-outline-info m-1" (click)="edit(item)"> Edit </button>
              <button type="button" class="btn btn-outline-info m-1" (click)="view(item)"> View </button>
              <button type="button" class="btn btn-outline-danger m-1" (click)="delete(item.id)"> Delete </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>