<form class="mt-3 col-md-12 offset-md-3" [formGroup]="employeeForm" (ngSubmit)="onSave()">
    <div class="form-row mt-2">
      <div class="form-group col-md-6">
        <input type="text" name="name" placeholder="Name" class="form-control" formControlName="name"
          [class]="isValidField('name')">
        <div class="invalid-feedback">
          <span *ngIf="employeeForm.get('name')?.errors?.required">
            El nombre es requerido
          </span>
        </div>
      </div>
    </div>
    <div class="form-row mt-2">
      <div class="form-group col-md-6">
        <input type="text" name="lastName" placeholder="Last name" class="form-control" formControlName="lastName"
          [class]="isValidField('lastName')">
        <div class="invalid-feedback">
          <span *ngIf="employeeForm.get('lastName')?.errors?.required">
            El apellido es requerido
          </span>
        </div>
      </div>
    </div>
    <div class="form-row mt-2">
      <div class="form-group col-md-6">
        <input type="email" name="name" placeholder="Email" class="form-control" formControlName="email"
          [class]="isValidField('email')">
        <div class="invalid-feedback">
          <span *ngIf="employeeForm.get('email')?.errors?.required">
            El email es requerido
          </span>
          <span *ngIf="employeeForm.get('email')?.errors?.pattern">
            El email no es valido
          </span>
        </div>
      </div>
    </div>
    <div class="form-row mt-2">
      <div class="form-group col-md-6">
        <input type="text" name="startDate" placeholder="Start Date" class="form-control" formControlName="startDate"
          [class]="isValidField('startDate')">
        <div class="invalid-feedback">
          <span *ngIf="employeeForm.get('startDate')?.errors?.required">
            La fecha inicial es requerido
          </span>
        </div>
      </div>
    </div>
    <button type="submit" class="btn bg-dark btn-block text-light">Save</button>
  </form>